## How-to guide for Feature Store on the Abacus.AI platform
This notebook provides you with a hands on environment to build and deploy a feature store using Abacus.AI

We'll be using the [User Movie Ratings](https://s3.amazonaws.com/abacusai.exampledatasets/user_recommendations/user_movie_ratings.csv), [Movies Metadata](https://s3.amazonaws.com/abacusai.exampledatasets/user_recommendations/movies_metadata.csv) and [User Metadata](https://s3.amazonaws.com/abacusai.exampledatasets/user_recommendations/users_metadata.csv) datasets.

1. Install the Abacus.AI library.

In [ ]:
!pip install abacusai

2. Add your Abacus.AI [API Key](https://abacus.ai/app/profile/apikey) generated using the API dashboard as follows:

In [ ]:
#@title Abacus.AI API Key

api_key = 'cf45d23272e74465b776e5fa79101f7b'  #@param {type: "string"}

3. Import the Abacus.AI library and instantiate a client.

In [ ]:
from abacusai import ApiClient, ApiException
client = ApiClient(api_key)

## 1. Create a Project

In this notebook, we're going to create and deploy a feature store that automatically featurizes input data using the Movies Interaction and User/Item Metadata datasets.

In [ ]:
project = client.create_project(name='Demo Movie Feature Store Project', use_case='FEATURE_STORE')

## 2. Creating Datasets

Abacus.AI can read datasets directly from File blob storage

We are using three datasets for this notebook.
- [User Movie Ratings](https://s3.amazonaws.com/abacusai.exampledatasets/user_recommendations/user_movie_ratings.csv)
This dataset contains information about user interactions with movies.
- [Movies Metadata](https://s3.amazonaws.com/abacusai.exampledatasets/user_recommendations/movies_metadata.csv) This dataset contains information about the movies.
- [User Metadata](https://s3.amazonaws.com/abacusai.exampledatasets/user_recommendations/users_metadata.csv) This dataset contains information about users.

### Data Preview

In [ ]:
!pip install fsspec
!pip install s3fs
import pandas as pd

In [ ]:
pd.read_csv('s3://abacusai.exampledatasets/user_recommendations/user_movie_ratings.csv')

        user_id  movie_id  rating  timestamp
0             1      1193       5  978300760
1             1      3408       4  978300275
2             1      2355       5  978824291
3             1      1287       5  978302039
4             1      2804       5  978300719
...         ...       ...     ...        ...
575276     6040      1089       4  956704996
575277     6040      1094       5  956704887
575278     6040       562       5  956704746
575279     6040      1096       4  956715648
575280     6040      1097       4  956715569

[575281 rows x 4 columns]

In [ ]:
pd.read_csv('s3://abacusai.exampledatasets/user_recommendations/movies_metadata.csv')

      movie_id  ...                        genres
0            1  ...   Animation|Children's|Comedy
1            2  ...  Adventure|Children's|Fantasy
2            3  ...                Comedy|Romance
3            4  ...                  Comedy|Drama
4            5  ...                        Comedy
...        ...  ...                           ...
3878      3948  ...                        Comedy
3879      3949  ...                         Drama
3880      3950  ...                         Drama
3881      3951  ...                         Drama
3882      3952  ...                Drama|Thriller

[3883 rows x 3 columns]

In [ ]:
pd.read_csv('s3://abacusai.exampledatasets/user_recommendations/users_metadata.csv')

      user_id gender       age            occupation zip_code
0           1      F  Under 18          K-12 student    48067
1           2      M       56+         self-employed    70072
2           3      M     25-34             scientist    55117
3           4      M     45-49  executive/managerial    02460
4           5      M     25-34                writer    55455
...       ...    ...       ...                   ...      ...
6035     6036      F     25-34             scientist    32603
6036     6037      F     45-49     academic/educator    76006
6037     6038      F       56+     academic/educator    14706
6038     6039      F     45-49                 other    01060
6039     6040      M     25-34    doctor/health care    11106

[6040 rows x 5 columns]

### Add the datasets to Abacus.AI

Using the Create Dataset API, we can tell Abacus.AI the public S3 URI of where to find the datasets.

In [ ]:
# if the datasets already exist, skip creation
try: 
  events_dataset = client.describe_dataset(client.describe_feature_group_by_table_name('user_movie_ratings').dataset_id)
  movies_dataset = client.describe_dataset(client.describe_feature_group_by_table_name('movies_metadata').dataset_id)
  users_dataset = client.describe_dataset(client.describe_feature_group_by_table_name('users_metadata').dataset_id)
except ApiException: # datasets not found
  events_dataset = client.create_dataset_from_file_connector(name='User Movie Ratings', table_name='user_movie_ratings', location='s3://abacusai.exampledatasets/user_recommendations/user_movie_ratings.csv')
  movies_dataset = client.create_dataset_from_file_connector(name='Movie Metadata', table_name='movies_metadata', location='s3://abacusai.exampledatasets/user_recommendations/movies_metadata.csv')
  users_dataset = client.create_dataset_from_file_connector(name='User Metadata', table_name='users_metadata', location='s3://abacusai.exampledatasets/user_recommendations/users_metadata.csv')

events_feature_group = client.describe_feature_group_by_table_name(table_name=events_dataset.feature_group_table_name)
events_feature_group.set_indexing_config(lookup_keys=['user_id'], update_timestamp_key='timestamp')

movies_feature_group = client.describe_feature_group_by_table_name(table_name=movies_dataset.feature_group_table_name)
movies_feature_group.set_indexing_config(primary_key='movie_id')

users_feature_group = client.describe_feature_group_by_table_name(table_name=users_dataset.feature_group_table_name)
users_feature_group.set_indexing_config(primary_key='user_id')

In [ ]:
for dataset in [events_dataset, movies_dataset, users_dataset]:
    dataset.wait_for_inspection()

In [ ]:
feature_group = client.create_feature_group(table_name='combined_user_movie_ratings', sql='SELECT * FROM user_movie_ratings JOIN movies_metadata USING (movie_id) JOIN users_metadata ON (user_movie_ratings.user_id = users_metadata.user_id)')
feature_group.add_to_project(project.project_id)

#Managing tags and security

We can add/remove user-friendly tags to this feature group, as well as lock it to prevent unauthorized editing.

In [ ]:
feature_group.add_tag('user interactions with movies')
feature_group.add_tag('test')
print(feature_group.refresh().tags)
feature_group.remove_tag('test')
print(feature_group.refresh().tags)

In [ ]:
feature_group.set_modifier_lock(True)
print(feature_group.list_modifiers())
feature_group.add_user_to_modifiers('austin@abacus.ai')
print(feature_group.list_modifiers())
feature_group.remove_user_from_modifiers('austin@abacus.ai')
feature_group.set_modifier_lock(False)

### Materialize Feature Group Data

In [ ]:
feature_group.set_indexing_config(lookup_keys=['user_id', 'movie_id'])

In [ ]:
feature_group_version = feature_group.create_version()
feature_group_version.wait_for_results()

### Inspect Data locally

In [ ]:
df = feature_group_version.load_as_pandas()
df

### Export Feature Group Data

Before you can export the feature group data, you must first authorize Abacus.AI to be able to write to your blob storage provider [here](https://abacus.ai/profile/connectors).

In [ ]:
import time
external_export_uri = f's3://featurestore-export/demo/export_{time.time()}.csv'

In [ ]:
feature_group_version.export_to_file_connector(external_export_uri, export_file_format='CSV')

### Deploy feature group for online featurization

In [ ]:
deployment_token = client.create_deployment_token(project_id=project.project_id).deployment_token
deployment = client.create_deployment(feature_group_id=feature_group.feature_group_id, project_id=project.project_id) 
deployment.wait_for_deployment()

In [ ]:
client.lookup_features(deployment_id=deployment.deployment_id, deployment_token=deployment_token, query_data={'user_id': '1'})

#Cleanup Script

In [ ]:
#@title Abacus.AI API Key

api_key = 'cf45d23272e74465b776e5fa79101f7b'  #@param {type: "string"}

!pip install abacusai
from abacusai import ApiClient, ApiException
client = ApiClient(api_key)

delete_project_names = ['Demo Movie Feature Store Project', 'Demo Feature Store Streaming Project', 'Demo Feature Store Point In Time Streaming Project', 'Demo Python Model']
for project in client.list_projects():
  if project.name in delete_project_names:
    [deployment.stop() for deployment in project.list_deployments()]
    project.delete()

fgs_to_delete = ['interactions_joined_items', 'python_interactions_joined_items', 'combined_user_movie_ratings', 'demo_views_interactions_joined_items', 'demo_add_to_cart_interactions_joined_items', 'demo_transactions', 'demo_interactions_joined_items', 'concrete_by_flyash']
for fg_name in fgs_to_delete:
  try:
    fg = client.describe_feature_group_by_table_name(fg_name)
    fg.delete()
  except ApiException:
    pass

Collecting abacusai
  Downloading abacusai-0.31.0.tar.gz (35 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from abacusai) (21.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from abacusai) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from abacusai) (1.1.5)
Collecting fastavro
  Downloading fastavro-1.4.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2.3 MB 8.4 MB/s
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->abacusai) (2.4.7)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->abacusai) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->abacusai) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->abacusai) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->abacusai) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (1.24.3)
Building wheels for collected packages: abacusai
  Building wheel for abacusai (setup.py) ... done
  Created wheel for abacusai: filename=abacusai-0.31.0-py3-none-any.whl size=52694 sha256=9fd8745b8c49b2fd5ea4f7ed4cf113607d64027cbaafebbe9eeb6c71f934eeb2
  Stored in directory: /root/.cache/pip/wheels/52/c5/5a/7ba401467757c85e9ed3c1420162109b46ec06f39f89d25e39
Successfully built abacusai
Installing collected packages: fastavro, abacusai
Successfully installed abacusai-0.31.0 fastavro-1.4.5